body{
    background-color: #272B30;
    color: white !important;
    font-family: "Comfortaa", cursive;
    min-height: 100%;
    min-width: 100%;
}

.badge-color {
    background-color:#32383e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Nerko One", cursive;
   color: white !important;
}

span{
    font-size: 14px;
}
a,
p,
span {
   color: white !important;
}

.details {
    background-color: #272729be;
 
    backdrop-filter: blur(4px);
 }

[data-theme="dark"] {
    --main-color: #272b30;
    --seconde-color: #32383e;
    --color-text: #fff;
    --btn-main-color: #272729;
}
 
[data-theme="light"] {
    --main-color: #eeeeee;
    --seconde-color: #909396;
    --color-text: #000;
    --btn-main-color: #414550;
}