body{
    background-color: #272B30;
}
.register-area{
    background-color: #3D4145;
}
.regstImg{
    background: url("../../images/register.jpg")  center / cover no-repeat;
    min-height: 100%;
}

.form-data input::placeholder{
    color: white;
}
span{
    font-size: 14px;
}

[data-theme="dark"] {
    --main-color: #272b30;
    --seconde-color: #32383e;
    --color-text: #fff;
    --btn-main-color: #272729;
 }
 
 [data-theme="light"] {
    --main-color: #eeeeee;
    --seconde-color: #909396;
    --color-text: #000;
    --btn-main-color: #414550;
 }